ignoredSegments:
  users:
    - admin

rules:
  /:
    0.0.0.0/0:
      limit: 10
      window: 60
  /v1:
    0.0.0.0/0:
      limit: 1
      window: 5
  /v2:
    0.0.0.0/0:
      limit: 2
      window: 5
  ^/v3/[0-9]$:
    0.0.0.0/0:
      limit: 3
      window: 5