ignoredSegments:
  users:
    - admin
  ips:
    - 127.0.0.2
  urls:
    - /v1/ping

rules:
  /:
    ips:
      0.0.0.0/0:
        limit: 10
        window: 60
    users:
      auth:
        limit: 20
        window: 60
  /v1:
    ips:
      0.0.0.0/0:
        limit: 1
        window: 5
  /v2:
    ips:
      0.0.0.0/0:
        limit: 2
        window: 5
  ^/v3/[0-9]$:
    ips:
      0.0.0.0/0:
        limit: 3
        window: 5